<h1>Diabetes</h1>

In [97]:
import pandas as pd
import numpy as np

In [98]:
#columns
# 0. Number of times pregnant.
# 1. Plasma glucose concentration a 2 hours in an oral glucose tolerance test.
# 2. Diastolic blood pressure (mm Hg).
# 3. Triceps skinfold thickness (mm).
# 4. 2-Hour serum insulin (mu U/ml).
# 5. Body mass index (weight in kg/(height in m)^2).
# 6. Diabetes pedigree function.
# 7. Age (years).
# 8. Class variable (0 or 1).
cols_raw = [
    "Number of times pregnant",
    "Plasma glucose concentration",
    "Diastolic blood pressure",
    "Triceps skinfold thickness",
    "Two Hour serum insulin",
    "Body mass index",
    "Diabetes pedigree function",
    "Age",
    "Class variable"
]
cols = ['number_of_times_pregnant', 
        'plasma_glucose_concentration', 
        'diastolic_blood_pressure', 
        'triceps_skinfold_thickness', 
        'two_hour_serum_insulin', 'body_mass_index', 
        'diabetes_pedigree_function', 'age', 'class_variable']

# for i in cols_raw:
#     cols.append(i.lower().replace(" ","_"))

In [93]:
df = pd.read_csv("diabetes.csv",names=cols)
df.describe()

,number_of_times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_skinfold_thickness,two_hour_serum_insulin,body_mass_index,diabetes_pedigree_function,age,class_variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [95]:
#en unas columnas 0 no deberia de existir entonces contamos los ceros en las columnas que no deberian de tener cero
num_missing = (df[['plasma_glucose_concentration', 
        'diastolic_blood_pressure', 
        'triceps_skinfold_thickness', 
        'two_hour_serum_insulin', 'body_mass_index']] == 0).sum()
print(num_missing)

plasma_glucose_concentration      5
diastolic_blood_pressure         35
triceps_skinfold_thickness      227
two_hour_serum_insulin          374
body_mass_index                  11
dtype: int64

In [99]:
df[['plasma_glucose_concentration', 
        'diastolic_blood_pressure', 
        'triceps_skinfold_thickness', 
        'two_hour_serum_insulin', 'body_mass_index']] = df[['plasma_glucose_concentration', 
        'diastolic_blood_pressure', 
        'triceps_skinfold_thickness', 
        'two_hour_serum_insulin', 'body_mass_index']].replace(0, np.nan)

In [101]:
print(df.isnull().sum())

number_of_times_pregnant          0
plasma_glucose_concentration      5
diastolic_blood_pressure         35
triceps_skinfold_thickness      227
two_hour_serum_insulin          374
body_mass_index                  11
diabetes_pedigree_function        0
age                               0
class_variable                    0
dtype: int64

In [102]:
df.head(20)

,number_of_times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_skinfold_thickness,two_hour_serum_insulin,body_mass_index,diabetes_pedigree_function,age,class_variable
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,80.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,100.0,NaN,NaN,NaN,30.0,0.484,32,1
16,0,118.0,84.0,47.0,230.0,45.8,0.551,31,1
17,7,107.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,103.0,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,70.0,30.0,96.0,34.6,0.529,32,1

In [107]:
dfTest = pd.DataFrame({'A': [1, None, 4,  None, 5]})

dfTest.mean()
# dfTest.fillna(0, inplace=True)

# dfTest.mean()

A    3.333333
dtype: float64

In [111]:
values = dfTest.values
print(values)

[[ 1.]
 [nan]
 [ 4.]
 [nan]
 [ 5.]]

In [114]:
X = values[:,0:0]
print(X)
y = values[:,1]
print(y)

[]

IndexError: index 1 is out of bounds for axis 1 with size 1